*{
    font-family: "Roboto", sans-serif;
}

.header, .top {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-weight: 900;
}


.links ul{
    display: flex;
    list-style: none;
    gap: 32px
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

button {
    padding: 8px 16px;
    background-color: royalblue;
    border-radius: 8px;
    color: white;
    font-weight: 800;
}

button.top-button {
    
    border: 1px

}